!.keep

# Ignore bundler config.
/.bundle
/vendor/bundle/*

# Ignore all logfiles and tempfiles.
/log/*
/public/system
/public/assets
/public/items_with_weight.csv
/tags
/tmp/*

*.swo
*.swp
/.env
/.foreman
/coverage/*

# Ignore application configurations
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore Byebug command history file.
.byebug_history

# For Mac
*.DS_Store
